name: Build, lint and test
on:
  push:
    inputs:
      node-version:
        required: false
        type: string
        default: 16.19.0
env:
  MIX_ENV: test
jobs:
  build:
    name: Build, lint and test
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:14
        ports: ['5432:5432']
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.14.2'
          otp-version: '25.2'
      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: $-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Check for outdated deps
        run: mix hex.outdated
      - name: Compile
        run: |
          MIX_ENV=prod mix compile --warnings-as-errors
          MIX_ENV=test mix compile --warnings-as-errors
          MIX_ENV=dev mix compile --warnings-as-errors
      - name: Lint
        run: mix format --check-formatted
      - name: Credo
        run: mix credo --strict
      - name: Run tests
        run: |
          mix ecto.create
          mix ecto.migrate
          mix coveralls
